* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* background-color: rgb(232, 229, 226); */
    /* background-color: rgb(228, 231, 237); */
}

.main {
    color: rgb(87, 71, 49);
    background-color: white;

}

.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(227, 219, 194);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-size-adjust: 3px;
    position: fixed;

}

/* .body{
   background-size: rgb(227, 219, 194);
} */

.logo {
    margin-left: 20px;
    color: rgb(87, 71, 49);
}

.home {
    margin-left: 800px;

}

.home a {
    text-decoration: none;
    color: rgb(87, 71, 49);
    font-size: 20px;
}

.about {
    margin-left: 20px;

}

.about a {
    text-decoration: none;
    color: rgb(87, 71, 49);
    font-size: 20px;
}

.services {
    margin-left: 20px;

}

.services a {
    text-decoration: none;
    color: rgb(87, 71, 49);
    font-size: 20px;
}

.contect {
    margin-left: 20px;

}

.contect a {
    text-decoration: none;
    color: rgb(87, 71, 49);
    font-size: 20px;
}

.shop {
    margin-left: 20px;

}

.shop a {
    text-decoration: none;
    color: rgb(87, 71, 49);
    font-size: 20px;
}


/* all prduct start  */


.allproduct {
    width: 100%;
    height: 50vh;
    display: flex;



}



.productitems {
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 80px;
    /* margin-left: 300px; */
    /* text-decoration: none; */


}

.productitems h1 {
    margin-left: 20px;
    margin-top: 50px;
}

.productitems h3 {
    margin-left: 20px;
}

.productitems h4 {
    margin-left: 20px;
    margin-top: 100px;
}


/* all product */
.items {
    width: 100%;
    height: 100vh;
    /* margin-left: 150px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;



}

.item2 {
    width: 100%;
    height: 100vh;
    /* margin-left: 150px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;



}

.item3 {
    width: 100%;
    height: 100vh;
    /* margin-left: 150px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hamster a {
    text-decoration: none;
    color: black;

}

.mousefood a {
    text-decoration: none;
    color: black;

}

.rabbitfood a {
    text-decoration: none;
    color: black;
}

.salman a {
    text-decoration: none;
    color: black;

}

.tuna a {
    text-decoration: none;
    color: black;


}

.activa a {
    text-decoration: none;
    color: black;

}

.indoor a {
    text-decoration: none;
    color: black;
}

.protein a {
    text-decoration: none;
    color: black;

}

.chicken a {
    text-decoration: none;
    color: black;

}