* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* background-color: rgb(232, 229, 226); */
    /* background-color: rgb(228, 231, 237); */
}

.main {
    color: rgb(87, 71, 49);
    background-color: white;

}

.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(227, 219, 194);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-size-adjust: 3px;
    position: fixed;

}

/* .body{
   background-size: rgb(227, 219, 194);
} */

.logo {
    margin-left: 20px;
    color: rgb(87, 71, 49);
}

.home {
    margin-left: 800px;

}

.home a {
    text-decoration: none;
    color: rgb(87, 71, 49);
    font-size: 20px;
}

.about {
    margin-left: 20px;

}

.about a {
    text-decoration: none;
    color: rgb(87, 71, 49);
    font-size: 20px;
}

.services {
    margin-left: 20px;

}

.services a {
    text-decoration: none;
    color: rgb(87, 71, 49);
    font-size: 20px;
}

.contect {
    margin-left: 20px;

}

.contect a {
    text-decoration: none;
    color: rgb(87, 71, 49);
    font-size: 20px;
}

.shop {
    margin-left: 20px;

}

.shop a {
    text-decoration: none;
    color: rgb(87, 71, 49);
    font-size: 20px;
}


/* main  */

.hamsterimg {
    box-shadow: rgb(155, 112, 38);
}

.hamsteritem {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(183, 171, 162);

}


.hamsterprice {
    width:400px ;
    height: 400PX;
    /* border: 2PX solid black; */
}
.quantity {
    width: 70px;
    height: 30px;
    border: 1px solid black;
    display:  flex;
    align-items: center;
    justify-content: center;
}


.hamsterprice  button {
    width: 300px;
    height: 50px;
    border: 1px solid black;

    background-color: rgb(157, 167, 167);
    border-radius: 50px;
    font-size: 25px;


}